# Auto detect text files and perform LF normalization
* text=auto
TowerDefenceContentKiteDemoEnvironmentsCliffsCliff01T_Cliff01_D_CC_R.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsCliffsCliff01T_Cliff01_N.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsGroundTilesPebblyRiverbankT_Tile_PebblyRiverbank_D_R.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsGroundTilesPebblyRiverbankT_Tile_PebblyRiverbank_N.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsGroundTilesRockyPathT_GDC_StonePath_Tile_D_R.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsGroundTilesRockyPathT_GDC_StonePath_Tile_N.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsRocksLarge_Volcanic_Rock_001T_GDC_LargeVolcanicRock_001_D2_R.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsRocksLarge_Volcanic_Rock_001T_GDC_LargeVolcanicRock_001_N.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsRocksMountain_RockFace_002T_MountainRock_Closed_D.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsRocksMountain_RockFace_002T_MountainRock_Closed_D2.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsRocksMountain_RockFace_002T_MountainRock_Closed_N.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsRocksMountain_RockFace_002T_MountainRock_D.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsRocksMountain_RockFace_002T_MountainRock_N.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsRocksScree001T_Scree_001_D_CC.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsRocksScree001T_Scree_001_N.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsRocksScree002T_Scree002_D_R.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsRocksScree002T_Scree002_N.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsTreesTree_Stump_01T_Tree_Stump_01_D_R.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsTreesVegetation_Debris_002T_Vegetation_Debris_002_N.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentKiteDemoEnvironmentsTreesVegetation_Debris_002T_Vegetation_Debris_002_D_R.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentParagonMinionsCharactersGlobalMaterialLayersWoodT_TreeBark_D.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentParagonMinionsCharactersGlobalMaterialLayersWoodT_TreeBark_N.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentParagonMinionsFXTexturesEnvironmentT_RevaCliff_D.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentParagonPropsAgoraRocksTexturesT_Agelsjon02_Cliff_D.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentParagonPropsAgoraRocksTexturesT_HadriansWall_D_Colored.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentParagonPropsAgoraRocksTexturesT_LargePlainsBoulder002_D.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentParagonPropsAgoraRocksTexturesT_Scree002_D_R.uasset filter=lfs diff=lfs merge=lfs -text
TowerDefenceContentParagonPropsAgoraRocksTexturesT_Scree002_N.uasset filter=lfs diff=lfs merge=lfs -text
